In [1]:
import pandas as pd
import tensorflow as tf

In [2]:
df=pd.read_excel("/content/Untitled spreadsheet.xlsx")

In [3]:
df

,loan_id,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,9600000,29900000,12,778,2400000,17600000,22700000,8000000,1
1,2,0,4100000,12200000,8,417,2700000,2200000,8800000,3300000,0
2,3,3,9100000,29700000,20,506,7100000,4500000,33300000,12800000,0
3,4,3,8200000,30700000,8,467,18200000,3300000,23300000,7900000,0
4,5,5,9800000,24200000,20,382,12400000,8200000,29400000,5000000,0
...,...,...,...,...,...,...,...,...,...,...,...
4264,4265,5,1000000,2300000,12,317,2800000,500000,3300000,800000,0
4265,4266,0,3300000,11300000,20,559,4200000,2900000,11000000,1900000,1
4266,4267,2,6500000,23900000,18,457,1200000,12400000,18100000,7300000,0
4267,4268,1,4100000,12800000,8,780,8200000,700000,14100000,5800000,1
4268,4269,1,9200000,29700000,10,607,17800000,11800000,35700000,12000000,1

In [20]:
x=df.drop(['loan_status','loan_id'],axis=1)
y=df['loan_status']

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [83]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
# Standardize numerical features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [84]:
model=tf.keras.Sequential([
    tf.keras.layers.Dense(24,input_shape=([9,])),
    tf.keras.layers.Dense(32,activation='relu'),
    tf.keras.layers.Dense(64,activation='relu'),
    tf.keras.layers.Dense(1,activation="sigmoid")
])

In [101]:
model.compile(optimizer='adam',loss=tf.keras.metrics.binary_focal_crossentropy,metrics=['accuracy'])

In [102]:
model.fit(X_train,y_train,epochs=10)

Epoch 1/10
107/107 [==============================] - 1s 2ms/step - loss: 26818.3047 - accuracy: 0.5394
Epoch 2/10
107/107 [==============================] - 0s 2ms/step - loss: 19625.6055 - accuracy: 0.5493
Epoch 3/10
107/107 [==============================] - 0s 2ms/step - loss: 17223.0527 - accuracy: 0.5461
Epoch 4/10
107/107 [==============================] - 0s 3ms/step - loss: 19500.2969 - accuracy: 0.5403
Epoch 5/10
107/107 [==============================] - 0s 3ms/step - loss: 14692.3271 - accuracy: 0.5341
Epoch 6/10
107/107 [==============================] - 0s 3ms/step - loss: 17787.0527 - accuracy: 0.5476
Epoch 7/10
107/107 [==============================] - 0s 3ms/step - loss: 15366.0430 - accuracy: 0.5189
Epoch 8/10
107/107 [==============================] - 0s 2ms/step - loss: 11338.3428 - accuracy: 0.5429
Epoch 9/10
107/107 [==============================] - 0s 3ms/step - loss: 7208.3325 - accuracy: 0.5286
Epoch 10/10
107/107 [==============================] - 0s 3ms/step - loss: 8977.1650 - accuracy: 0.5426

In [103]:
model.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_25 (Dense)            (None, 24)                240

 dense_26 (Dense)            (None, 32)                800

 dense_27 (Dense)            (None, 64)                2112

 dense_28 (Dense)            (None, 1)                 65

=================================================================
Total params: 3,217
Trainable params: 3,217
Non-trainable params: 0
_________________________________________________________________

In [104]:
model.evaluate(X_test,y_test)

27/27 [==============================] - 0s 2ms/step - loss: 11431.4580 - accuracy: 0.4157

[11431.4580078125, 0.4156908690929413]

In [105]:
df.head(3)

,loan_id,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,9600000,29900000,12,778,2400000,17600000,22700000,8000000,1
1,2,0,4100000,12200000,8,417,2700000,2200000,8800000,3300000,0
2,3,3,9100000,29700000,20,506,7100000,4500000,33300000,12800000,0

In [106]:
X_train.head(3)

,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value
1675,5,7900000,29900000,6,568,5800000,13900000,15900000,8700000
1164,0,9600000,34000000,12,710,23800000,10300000,38100000,7800000
192,1,800000,2900000,8,682,2200000,1100000,2900000,700000

In [107]:
import numpy as np

In [108]:
sample=[[5,7900000,29900000,6,568,5800000,13900000,15900000,8700000]]
#sample=np.array(sample)

In [109]:
sample_2=[[3,9100000,29700000,20,506,7100000,4500000,33300000,12800000]]
sample_2=np.array(sample_2)

In [110]:
model.predict(sample_2)

1/1 [==============================] - 0s 83ms/step

array([[0.]], dtype=float32)

In [111]:
model.save('test.h5')